@tailwind base;
@tailwind components;
@tailwind utilities;

ul.nav,
li.nav {
  margin: 0;
  padding: 0;
}

ul.nav {
  padding: 25px;
  top: 100px;
  width: 320px;
  right: 0px;
}

li.nav {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.h-screen-minus-header {
  height: calc(100vh - 80px);
}

@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.underline-left-to-right {
  position: relative;
  display: inline-block;
}

.underline-left-to-right::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 10px;
  opacity: 70%;
  background-color: #fed7aa;
  animation: underline 0.4s linear forwards;
}
