@tailwind base;
@tailwind components;
@tailwind utilities;

ul.nav,
li.nav {
  margin: 0;
  padding: 0;
}

ul.nav {
  padding: 25px;
  top: 100px;
  width: 320px;
  right: 0px;
}

li.nav {
  list-style: none;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.h-screen-minus-header {
  height: calc(100vh - 80px);
}
